<h2 class="sub-header">Shop</h2>

{{#each model.player.items as |playerItem|}}
{{playerItem.name}}
{{/each}}

<div class="table-responsive">
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Qty</th>
       <th>Name</th>
       <th>Desc</th>
       <th>Actions</th>
     </tr>
   </thead>
   <tbody>
	{{#each model.shop.inventory as |item|}}
		{{#item/card--mini item=item tagName=""}}
			<td>
				<button class="btn btn-success btn-xs" {{action 'buyItem' item model.player}}>Buy</button>
			</td>
		{{/item/card--mini}}
	{{/each}}
   </tbody>
 </table>
</div>