<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name:</label>
    {{input type="text" class="form-control" placeholder="Please type your name." autofocus="autofocus" value=name}}
  </div>

  <button class="btn btn-primary">{{submitText}}</button>
</form>