<h2 class="sub-header">Items</h2>

<div class="table-responsive">
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Qty</th>
       <th>Name</th>
       <th>Desc</th>
       <th>Use</th>
       <th>Drop</th>
     </tr>
   </thead>
   <tbody>
	{{#each model.items as |item|}}
    {{#if item.consumable}}
  		{{#item/card--mini item=item tagName=""}}
  			<td>
  				<button class="btn btn-success btn-xs" {{action 'useItem' item}}>Use</button>
  			</td>
  			<td>
  				<button class="btn btn-primary btn-xs" {{action 'dropItem' item}}>Drop</button>
  			</td>
  		{{/item/card--mini}}
    {{/if}}
	{{/each}}
  </tbody>
 </table>
</div>