<div class="clearfix">
	<div class="c100 p{{battle/hp-formatter entity.currentHP entity.maxHP}} {{backgroundColor}}">
	    <span>{{battle/hp-formatter entity.currentHP entity.maxHP}}%</span>
	    <span style="transform: translateY(9px); width: 100%; color: #000; display: block; font-size: 1.3rem; text-align: center;">{{yield}}</span>
	    <div class="slice">
	        <div class="bar"></div>
	        <div class="fill"></div>
	    </div>
	</div>
</div>